.background-morning {
  background-image: url("../img/morning.png");
}
.background-afternoon {
  background-image: url("../img/afternoon.png");
}
.background-evening {
  background: url("../img/evening.png") no-repeat center center fixed;
}
.background-night {
  background-image: url("../img/night.png");
}

.background-morning,
.background-afternoon,
.background-evening,
.background-night {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
h1 {
  position: absolute;
  left: 550px;
  top: 290px;
}
h2 {
  position: absolute;
  left: 550px;
  top: 360px;
}
h1,h2 {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 60px;
  color: white;
}
